# IntelliJ
.idea/
*.iml
out/

# Java build outputs
*.class
*.log
*.jar
*.war
*.ear

# Build systems
build/
target/
.gradle/

# Archives (DO NOT upload builds)
*.zip

# Mac system files
.DS_Store

# Generated metadata
META-INF/
